:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

body,
p,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope";
  font-size: 13px;
  line-height: 1.4rem;
}

.container {
  background-color: var(--light-grayish-blue);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 750px;
  height: 320px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #fff;
  border-radius: 1rem;
}

.card-img {
  width: 320px;
  height: 320px;
  background: url(images/drawers.jpg) no-repeat;
  background-size: cover;
  overflow: hidden;
  border-radius: 1rem 0 0 1rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem 2rem;
}

.lead {
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: var(--very-dark-grayish-blue);
  margin: 1rem 0;
}

.desc {
  color: var(--desaturated-dark-blue);
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.article-info {
  display: grid;
  grid-template-areas:
    "article-img article-author"
    "article-img article-date";
  align-items: center;
}

.article-img {
  grid-area: article-img;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.article-author {
  grid-area: article-author;
  font-weight: 700;
  color: var(--very-dark-grayish-blue);
}

.article-date {
  grid-area: article-date;
  color: var(--desaturated-dark-blue);
}

.share {
  background-color: var(--light-grayish-blue);
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-icon {
  width: calc(15 * 1.5);
  height: calc(13 * 1.5);
}

#tooltip {
  background: var(--very-dark-grayish-blue);
  color: var(--desaturated-dark-blue);
  padding: 0.75rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  visibility: hidden;
}

#tooltip[data-show] {
  visibility: visible;
}

#tooltip img {
  margin-left: 0.75rem;
  width: 16px;
  height: 16px;
}

#tooltip p {
  margin-right: 0.75rem;
  letter-spacing: 0.1rem;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 16px;
  height: 16px;
  z-index: -1;
}

#arrow::before {
  content: "";
  transform: rotate(45deg);
  background: var(--very-dark-grayish-blue);
}

#tooltip[data-popper-placement^="top"] > #arrow {
  bottom: -8px;
}

#tooltip[data-popper-placement^="bottom"] > #arrow {
  top: -8px;
}

#tooltip[data-popper-placement^="left"] > #arrow {
  right: -8px;
}

#tooltip[data-popper-placement^="right"] > #arrow {
  left: -8px;
}

@media screen and (max-width: 700px) {
  .card {
    width: 320px;
    height: auto;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .card-img {
    height: 200px;
    border-radius: 1rem 1rem 0 0;
  }

  .lead {
    font-size: 1rem;
    line-height: 1.4rem;
  }
}
